.header-div{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    margin-top: -40px;
}
.logo{
    width: 200px;
    height: 200px;
}
.nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}
.ul-list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style-type: none;
    font-size: 18px;
    font-weight: 600;
}
.ul-list>a{
    text-decoration: none;
}
.red{
    color: red !important;
}
.white{
    color: black !important;
}